# Node / React
/client/node_modules/
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/pnpm-debug.log*

/client/dist/
/client/dist-ssr/
/client/build/
/client/.next/
/client/out/

# TypeScript
*.tsbuildinfo

# Spring Boot / Gradle
/server/.gradle/
/server/build/

!/server/gradle/wrapper/gradle-wrapper.jar

# Spring Initializr
/server/HELP.md

# Environment Variables
/client/.env
/client/.env.*
!/client/.env.example

/server/.env
/server/.env.*
!/server/.env.example

/.env
/.env.*

# IDE
.idea/
.vscode/

*.iml
*.ipr
*.iws

# Eclipse / STS
.classpath
.project
.settings/
.factorypath
.apt_generated
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Logs
logs/
*.log

# OS Files
.DS_Store
Thumbs.db